<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Me:</h2>
      <p>
        My name is Omer Peled, a computer science student at hit. I am a hard
        worker and ambitious student who is eager to learn new things.
        currently, I’m reserve in Targets NCO – Northern Brigade, Gaza Division
        , waiting to start my last year of study in computer science. Looking
        for a full-time software position.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
